<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="resgrpNameSuffix" value="RSG"/>
    <add key="appServicePlanNameSuffix" value="AppPlan"/>
    <add key="autoScaleResourceLocation" value="East US 2"/>
    <add key="deploymentSlotName" value="prerelease"/>
    <add key="defaultRegion" value="USEast2"/>
    <add key="defaultPricingTier" value="StandardS2"/>
    <add key="appInsightsLocation" value="East US"/>
    <add key="ruleNameSuffix" value="500Errors"/>
    <add key="AppInsightsNameSuffix" value="Insights"/>



  </appSettings>

</configuration>
